<template>
    <header class="header ">
        <nav class="navbar navbar-light bg-gray">
            <div class="container-fluid">
                <h1 class="text-center">Картинки</h1>
                <ul class="header__menu nav nav-pills">
                    <li class="nav-item ">
                        <router-link
                            class="btn btn-outline-success"
                            to="/"
                        >
                            Поиск
                        </router-link>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</template>

<script lang="ts">
import {defineComponent} from 'vue';

export default defineComponent({
    components: {},
    setup() {
        return {};
    },
});
</script>

<style lang="less" scoped>
    .bg-gray {
        background: #e0e0e0
    }
</style>
