<script lang="ts">
import {defineComponent} from "vue";

export default defineComponent({
    components: {},
    setup() {
        return {
        }
    }
})
</script>

<template>
    <main class="main">
        <router-view/>
    </main>
</template>

<style lang="less" scoped>
    .main {
        margin: 0 auto;
    }
</style>
