<script>
import {defineComponent} from 'vue'
import {mapActions, mapGetters} from "vuex";
import http from "../services/http.service.js";

export default defineComponent({
    name: "Home",
    components: {},
    setup() {
        return {}
    },

    data() {
        return {
            parseUrl: null,
        };
    },
    computed: {
        ...mapGetters([
            'IMAGES',
        ])
    },
    methods: {
        ...mapActions([
            'SET_IMAGES',
        ]),
        getImages() {
            http.post('/api/v1/images', {
                url: this.parseUrl
            }).then(({data}) => {
                    this.SET_IMAGES(data);
                    this.$router.push('/image-list');
                }
            )
        }
    }
})
</script>

<template>
    <div class="container-fluid height-center">
        <div class="row align-items-center h-100">
            <div class="col-sm-12">
                <div class="row justify-content-center">
                    <div class="col-4 text-center">
                        <div class="input-group mb-3">
                            <button
                                @click.prevent="getImages"
                                class="btn btn-outline-secondary"
                                type="submit"
                                id="button-addon1"
                            >
                              Го
                            </button>
                            <input
                                v-model="parseUrl"
                                type="text"
                                class="form-control"
                                placeholder="insert url..."
                                aria-label="Example text with button addon"
                                aria-describedby="button-addon1"
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="less">
.height-center {
    height: 100vh;
}
</style>
