<script>
import {defineComponent} from 'vue'
import { mapGetters} from "vuex";
import Header from "@/components/Header.vue";

export default defineComponent({
    name: "ImageList",
    components: {Header},
    setup() {
        return {}
    },
    computed: {
        ...mapGetters([
            'IMAGES',
        ])
    },
    data() {
        return {
            images: null
        }
    },
    methods: {
    },
    mounted() {
    }
})
</script>

<template>
    <Header/>

    <div class="m-5">
        <div class="row row-eq-height">
            <div
                v-for="(image, index) in IMAGES.urls"
                :key="index"
                class="col-lg-3 col-md-3 col-3 p-2  align-self-center card"
            >
                <img class="img-fluid m-1" :src="image" alt="..." style="height: 100%">
            </div>
        </div>
    </div>

    <h1 class="text-center p-3 bg-gray">
        На странице обнаружено <span class="badge bg-success">{{IMAGES.count}}</span>
        изображений на <span class="badge bg-warning text-dark">{{IMAGES.sizeTotal}}</span> Мб
    </h1>
</template>

<style scoped lang="less">
.card {
    border: none;
}
.bg-gray {
    background: #e0e0e0
}
</style>
